.Login{
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    padding: 18px;
    height: 500px;
    overflow: 30px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    border: 1px solid gray;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;

}
.loginInput:focus{
    outline: none;
}
.loginBtn{
height: 50px;
border-radius: 10px;
border: none;
background-color: #1775ee;
color: white;
cursor: pointer;
font-size: 21px;

}
.loginForgot{
text-align: center;
color: #1775ee;

}
.loginRegisterBtn{
    height: 45px;
border-radius: 10px;
border: none;
background-color: #42b72a;
color: white;
cursor: pointer;
font-size: 21px;


}