.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 30px;
    
}

.rightbarFollowingImg{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 12%;
    margin: 5px;
}
